<section id="employee-details" class="bg-light">
  <div class="container">
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7c/User_font_awesome.svg/1200px-User_font_awesome.svg.png"
      alt="User Image"
    />
    <div class="column">
      <h1>Edin Dzeko</h1>
      <p><b>Address: </b>Sarajevo, Zmaja od Bosne bb</p>
      <p><b>Phone Number: </b>+387 61 123 456</p>
      <p><b>ID: </b>12121912110055</p>
      <p><b>Position: </b>Administration</p>
      <p><b>Starting Date: </b>01/01/2020</p>
    </div>
  </div>
  <div class="buttons">
    <button class="btn btn-light" (click)="onCancel()">Cancel</button>
    <button class="btn btn-primary" (click)="onUpdate()">Update</button>
  </div>
</section>
