#employee-details {
  display: flex;
  flex-direction: column;
  width: 720px;
  height: 380px;
  border-radius: 10px;
}

#employee-details .container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 85%;
}

#employee-details img {
  border-radius: 15px;
  height: 80%;
  width: 30%;
}

#employee-details .column {
  margin-bottom: 25px;
}

#employee-details h1 {
  text-align: center;
  font-size: 35px;
  padding: 5px 0;
}

#employee-details p {
  font-size: 20px;
  padding: 3px 0;
}

#employee-details .buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 5px;
  height: 15%;
}

#employee-details .buttons button {
  width: 100px;
  height: 50px;
  margin: 0 5px;
}
