<section id="employee-details" class="bg-light">
  <div class="container">
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7c/User_font_awesome.svg/1200px-User_font_awesome.svg.png"
      alt="User Image"
    />
    <div class="column">
      <h1>{{ employee.name }} {{ employee.surname }}</h1>
      <p><b>Address: </b>{{ employee.address }}</p>
      <p><b>Phone Number: </b>{{ employee.phoneNumber }}</p>
      <p><b>ID: </b>{{ employee.personId }}</p>
      <p><b>Position: </b>{{ employee.position }}</p>
      <p><b>Starting Date: </b>{{ employee.startingDate.toDateString() }}</p>
    </div>
  </div>
  <div class="buttons">
    <button class="btn btn-light" (click)="onCancel()">Cancel</button>
    <button class="btn btn-primary" (click)="onUpdate()">Update</button>
  </div>
</section>
