<section id="vehicle-list-filter">
  <div class="container bg-light">
    <form [formGroup]="vehicleSearchForm" (ngSubmit)="onSearch()">
      <div class="form-group">
        <label for="FromDate">From</label>
        <input type="datetime-local" formControlName="from" />
      </div>
      <div class="form-group">
        <label for="ToDate">To</label>
        <input type="datetime-local" formControlName="to" />
      </div>
      <div class="form-group">
        <label for="numberOfSeatsInput">Number of seats</label>
        <input type="number" min="1" max="12" formControlName="numberOfSeats" />
      </div>
      <div class="form-group">
        <label for="brandInput">Brand</label>
        <input
          type="text"
          list="vehicleBrands"
          #brand
          formControlName="brand"
          (focusout)="onBrandChanged(brand.value)"
        />
        <datalist id="vehicleBrands">
          <option *ngFor="let brand of vehicleBrands" [value]="brand">
            {{ brand }}
          </option>
        </datalist>
      </div>
      <div class="form-group">
        <label for="modelInput">Model</label>
        <input type="text" list="vehicleModels" formControlName="model" />
        <datalist id="vehicleModels">
          <option *ngFor="let model of vehicleModels" [value]="model">
            {{ model }}
          </option>
        </datalist>
      </div>
      <div class="form-group">
        <label for="vehicleTypeInput">Vehicle Type</label>
        <select formControlName="vehicleType">
          <option
            *ngFor="let vehicleType of vehicleTypes"
            [value]="vehicleType"
          >
            {{ vehicleType }}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label for="modelYearInput">Model Year</label>
        <input
          type="number"
          min="1950"
          max="2021"
          formControlName="modelYear"
        />
      </div>
      <div class="form-group">
        <label for="fuelTypeInput">Fuel Type</label>
        <select formControlName="fuelType">
          <option *ngFor="let fuelType of fuelTypes" [value]="fuelType">
            {{ fuelType }}
          </option>
        </select>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Search</button>
      </div>
    </form>
  </div>
</section>
