.vehicle-add {
  height: 100vh;
  display: grid;
  place-items: center;
}

.container {
  width: 500px;
  height: 700px;
  background-color: var(--light-color);
  padding: 20px 40px;
  border-radius: 10px;
}

h1 {
  text-align: center;
  height: 35px;
  font-size: 35px;
}

.form-group button {
  margin-top: 20px;
}

#back-button .btn-round {
  position: fixed;
  top: 40px;
  left: 40px;
  transition: all 0.4s ease;
  padding-bottom: 5px;
}

#back-button .btn-round:hover {
  transform: rotate(10deg);
}
