<section id="vehicle-details" class="bg-light">
  <div class="container">
    <img src="{{ car.image }}" alt="Vehicle Image" />
    <div class="column">
      <h1>{{ car.model }}</h1>
      <p><b>Location: </b>{{ car.location }}</p>
      <p><b>Model Year: </b>{{ car.modelYear }}</p>
      <p><b>Fuel Type: </b>{{ car.fuelType }}</p>
      <p>
        <b>Status: </b>
        <span class="text-primary">{{
          car.isAvailable ? "Available" : "Unavailable"
        }}</span>
      </p>
      <p><b>Number of Seats: </b>{{ car.numberOfSeats }}</p>
      <p><b>Vehicle Type: </b>{{ car.vehicleType }}</p>
      <p><b>Color: </b>{{ car.color }}</p>
    </div>
  </div>
  <div class="buttons">
    <button class="btn btn-light" (click)="onCancel()">Cancel</button>
    <button class="btn btn-primary" (click)="onSelect()">Select</button>
  </div>
</section>
