.container {
  padding: 10px;
  border-radius: 10px;
  background-color: var(--light-color);
  width: 200px;
  opacity: 0.8;
}

.rent-date-list {
  border-radius: 10px;
  max-height: 250px;
  overflow-y: auto;
}
