#user-add {
  display: grid;
  place-items: center;
  height: 100vh;
}

.container {
  width: 40%;
  padding: 40px;
  border-radius: 10px;
  background-color: var(--light-color);
}

.container h1 {
  text-align: center;
  height: 35px;
  font-size: 35px;
  margin-bottom: 10px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.button-container button {
  width: 100%;
}
