#login {
  display: grid;
  place-items: center;
  height: 100vh;
}

#login .container {
  width: 400px;
  background-color: var(--light-color);
  padding: 40px;
  border-radius: 10px;
}

#login .container button {
  display: block;
  width: 100%;
  margin: 20px 0 10px;
}

#login .container .link {
  display: block;
  text-align: center;
  color: var(--dark-color);
}

#login .container .link:hover {
  color: var(--primary-color-hover);
}

#login .form-group {
  transition: all 0.5s ease;
}

#login .forgot-password {
  text-align: end;
  font-size: 12px;
}

#login b {
  font-weight: 900;
}

#login .alert-danger {
  font-size: 10px;
  color: red;
}
