#search-form {
  display: grid;
  place-items: center;
  height: 100vh;
}

#search-form form {
  width: 40%;
  padding: 40px;
  border-radius: 10px;
}

#search-form .advanced-search {
  display: inline-block;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  margin: 5px auto;
  cursor: pointer;
}

#search-form .advanced-search:hover {
  background: var(--light-color-hover);
  border-color: var(--dark-color);
}

#search-form .btn-round {
  position: fixed;
  right: 26.2%;
  width: 40px;
  height: 40px;
  font-size: 25px;
}

#search-form .btn-round:hover {
  transform: rotate(15deg);
}

#vehicle-search-footer .btn-round {
  position: fixed;
  bottom: 40px;
  right: 40px;
}
