#vehicle-rent {
  display: grid;
  place-items: center;
  height: 100vh;
}

.container {
  background: var(--light-color);
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 40px;
  border-radius: 10px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.button-container button {
  width: 70%;
}
