#vehicle-rent {
  display: grid;
  place-items: center;
  height: 100vh;
}

.container {
  background: var(--light-color);
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 40px;
  border-radius: 10px;
}

.form-group-data {
  display: flex;
  flex-direction: row;
}

.form-group-1,
.form-group-2 {
  width: 50%;
  padding: 2%;
}

.container h1 {
  text-align: center;
  font-size: 35px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.button-container button {
  width: 100%;
}
