<section id="vehicle-list-item">
  <div class="vehicle-item bg-light">
    <img src="{{ vehicle.image }}" alt="Vehicle Image" />
    <div class="vehicle-details">
      <div class="vehicle-primary-details">
        <div class="detail-group">
          <p>Brand</p>
          <h2>{{ vehicle.brand }}</h2>
        </div>
        <div class="detail-group">
          <p>Model</p>
          <h2>{{ vehicle.model }}</h2>
        </div>
      </div>
      <div class="vehicle-secondary-details">
        <div class="detail-group">
          <p>Model Year</p>
          <h4>{{ vehicle.modelYear }}</h4>
        </div>
        <div class="detail-group">
          <p>Fuel Type</p>
          <h4>{{ vehicle.fuelType }}</h4>
        </div>
        <div class="detail-group">
          <p>Number of seats</p>
          <h4>{{ vehicle.numberOfSeats }}</h4>
        </div>
        <div class="detail-group">
          <p>Address</p>
          <h4>{{ vehicle.location }}</h4>
        </div>
        <div class="detail-group">
          <p>Status</p>
          <h4>{{ vehicle.isAvaliable ? "Available" : "Unavailable" }}</h4>
        </div>
      </div>
    </div>
  </div>
</section>
